body {
 background-image: url(../img/segundo\ fondo.avif);
}

.perfil {
    display: flex;
}
.imagen {
    width: 250px;
    margin-right: 25px;
}

.textoPresentacion { 
    padding: 100px;

}

.imagenescard {
    width: 290px;
}
section {
    padding: 25px;
}


