body {
 background-image: url(../img/segundo\ fondo.avif);
}

.perfil {
    display: flex;
    justify-content:center ;
    border: 25px;
}
.imagen {
    width: 700px;
    height: 400px;
    margin-right: 25px;
    padding: 2rem;
}

.textoPresentacion { 
    padding: 100px;

}

.imagenescard {
    width: 290px;
}
section {
    margin: 25px;
    padding: 25px;

}
.tituloH {
    text-align: center;
}
.trabajos {
    margin: 2rem;
    
}
footer {
    background-color: grey;
   text-align: center;

    
}
.icono{
    width: 40px;
    
}
   


